.page-wrap {
  width: 1366px;
  height: 50px;
  margin: 0 auto;
  }





/* 
flexDirection
alignSelf: flex-start, center, flex-end
alignItems: left, right, center
justifyContent
alignText
*/







  





